/******Encabezado******/

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}

header.abajo {
    background: #fff;
    padding: 15px 20px;
}

header .logo {
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5em;
    transition: 0.9s;
}

header.abajo .logo,
header.abajo ul li a {
    color: #000;
}


/*********Portada***********/

.portada {
    width: 100vW;
    height: 100vH;
}

h1 {
    font-family: "Didot", Times, serif;
}


/**************Imagen de Fondo Fullscreem*****************/


/*html,
body {
    height: 100%;
}

body {
    background-image: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

div,
body {
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
}


*/


/***************Principio Portada**************/

.overflow {
    height: 800px;
    overflow: hidden;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    bottom: 0;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255);
}

#wraper-titulo {
    font-size: 5em;
}

#wraper-parrafo {
    font-size: 2em;
}


/*****Carrusel****************/

.carruselTitulo {
    font-family: "Didot", Times, serif;
    font-size: 4.5em;
    color: white;
    text-shadow: black 0.3em 0.3em 0.5em;
}

.carruselParrafo {
    font-size: 2em;
    color: white;
    text-shadow: black 0.3em 0.3em 0.5em;
}

.carrusel-full {
    width: 100vW;
    height: 100vH;
}


/*****tarjetas****************/

.titulo-circulos {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 6em;
    color: black;
    text-align: center;
}

.alto-completo {
    height: 100vh;
}

.centrador {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-tarjeta {
    display: inline-block;
    position: relative;
    max-width: 100%;
    width: 375px;
    height: 375px;
    overflow: hidden;
    border-radius: 50%;
}

.col-md {
    align-items: center;
}

.contenedor-tarjeta img {
    width: 100%;
}

p {
    font-family: "Didot", Times, serif;
    font-size: x-large;
}

.servicios {
    font-size: 1.5em;
    text-align: center;
}


/*.contenedor-tarjeta {
    position: relative;
    height: auto;
    max-width: 100%;
    max-height: 400px;
}*/


/*.image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
}*/

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .7s ease;
}

.contenedor-tarjeta:hover .overlay {
    bottom: 0;
    height: 100%;
}

.centro {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}