<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/galeria.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Tumuñan</title>
</head>

<body>
    <main>
        <section class="parallax-chico">
            <div class="row center-align galeria">
                <div class="texto-hero">
                    <h1 class="portada">Disfruta de nuestra Galeria</h1>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#galeria-toursDeVinos" class="btn btn-primary">Tours de Vinos</a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#galeria-pescaConMosca" class="btn btn-primary">Pesca con Mosca</a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#galeria-paisajes" class="btn btn-primary">Paisajes</a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#galeria-senderismo" class="btn btn-primary">Senderismo</a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#galeria-montarACaballo" class="btn btn-primary">Montar a Caballo</a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#galeria-alojamientos" class="btn btn-primary">Nuestros Alojamientos</a>
                </div>
            </div>
        </section>

        <section class="center espacio">
            <h2><i>Sobre nosotros</i></h2>
            <p class="justificar-parrafo">
                Escondido en las estribaciones boscosas de los Andes, Tumuñan Lodge ofrece a los huéspedes de todo el mundo un retiro durante todo el año y la oportunidad única de explorar una parte de Chile muy linda, pero poco conocida. A solo 2 horas en auto al sur
                de Santiago que lo lleva a través de viñedos y vistas espectaculares de los Andes centrales, este refugio de montaña familiar atiende a aquellos que necesitan descanso y relajación, a los viajeros más aventureros que pueden disfrutar de
                días únicos de senderismo , cabalgatas y pesca con mosca en el incomparable cordillera chileno. La propiedad ofrece estadías a largo plazo, incluyendo una casa de 4 dormitorios, chalet de 2 dormitorios y cabaña de 3 dormitorios.
            </p>
        </section>
        <a name="galeria-toursDeVinos"></a>
        <section class="parallax-completo">
            <article class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="titulo">Tours de Vinos</h1>
                        <p class="justificar-parrafo-galeria">
                            Tumuñan produce vinos de primera clase y estamos encantados de mostrarle los viñedos y degustar nuestros vinos juntos.
                        </p>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/IMG_5036.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/IMG_5153.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/IMG_5107.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/tumunan vineyard 416.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/IMG_5102.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/IMG_5101.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/IMG_5044.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/128.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/wine tasting.png" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/bigstock-Vineyards-At-Sunset-37822447.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div><br><br>
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/40528855.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/wine tasting.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div><br><br>
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/55923167.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Wine Tours/Colchagua 7.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col s12 m6 l4">
                        <a href="#galeria-toursDeVinos" class="btn btn-primary">Tours de Vinos</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <a href="#galeria-pescaConMosca" class="btn btn-primary">Pesca con Mosca</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <a href="#galeria-paisajes" class="btn btn-primary">Paisajes</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <a href="#galeria-senderismo" class="btn btn-primary">Senderismo</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <a href="#galeria-montarACaballo" class="btn btn-primary">Montar a Caballo</a>
                    </div>
                    <div class="col s12 m6 l4">
                        <a href="#galeria-alojamientos" class="btn btn-primary">Nuestros Alojamientos</a>
                    </div>
                </div>
            </article>
        </section>

        <section class="center espacio">
            <h2><i>Reserve Ahora</i></h2>
            <div>
                <p>Para reservar una habitación, envíenos un correo electrónico a tumunanlodge@gmail.com. </p>
                <p>Qué incluye: Acceso a piscina y jacuzzi, senderos, wifi, sábanas y almohadas (Direct TV en la casa de montañas).</p>
                <p> Qué no está incluido: servicio de limpieza diario, limpieza, desayuno, restaurante La tarifa también Incluye: Toallas de baño y manos ( 1 por persona) Productos básicos de cocina ( Lavalozas, bolsas de basura, Sal).</p>
            </div>
        </section>
        <a name="galeria-pescaConMosca"></a>
        <section class="parallax-completo">
            <article class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="titulo">Pesca con Moscas</h1>
                        <p class="justificar-parrafo-galeria">
                            La mejor pesca con mosca en el centro de Chile es a pocos kilómetros del albergue. Con gusto le explicaremos cómo acceder a los mejores lugares.
                        </p>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/_M8R0583.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/_M8R0624.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/_M8R0735.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/134.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/flyfishing.jpg.1024x0.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/IMG_2450.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/IMG_2454.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/IMG_0272.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>

                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/4_enhanced__embassy claro 006.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Fishing/juemul per 029.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <a name="galeria-paisajes"></a>
        <section class="parallax-completo">
            <article class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="titulo">Paisajes</h1>
                        <p class="justificar-parrafo-galeria">
                            En la zona hay senderos de senderismo autoguiados de 1 km a 10 km de largo a través de pintorescos paisajes de montaña.
                        </p>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9508.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9521.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9531.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9619.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9634.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9689.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9751.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9759.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9787.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9837.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9852.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_AT_9907.jpg" alt="" class="responsive-img materialboxed" data-caption="Atardecer en nuestra viña">
                        </div>
                    </div>

                </div>
            </article>
        </section>
        <a name="galeria-senderismo"></a>
        <section class="parallax-completo">
            <article class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="titulo">Senderismo</h1>
                        <p class="justificar-parrafo-galeria">
                            En la zona hay senderos de senderismo autoguiados de 1 km a 10 km de largo a través de pintorescos paisajes de montaña.
                        </p>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/hikingfog.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/3_enhanced__M8R1476.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/115.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/133.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/aerial7.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/1_enhanced_el nuco 2011 052.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/waterfall shoes.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/Facilities 2.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/IMG_4226.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/riding gaucho.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/trekking snow.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/IMG_0248.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>

                </div>
            </article>
        </section>
        <a name="galeria-montarACaballo"></a>
        <section class="parallax-completo">
            <article class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="titulo">Montar a Caballo</h1>
                        <p class="justificar-parrafo-galeria">
                            Realice un relajante paseo a caballo para explorar las hermosas vistas del valle de Tumuñan desde la propiedad y sus alrededores. Con mucho gusto lo pondremos en contacto con los lugareños que pueden ayudarlo a planificar su viaje de un día.
                        </p>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/multi-day-andean-trek-4.jpg.1024x0.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>

                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/1_enhanced_Picheira trip 2012 march 180.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/ridingview.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/riding.png" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_M8R0956.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_M8R0922.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>

                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_M8R0991.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/activities/Hiking/_M8R0993.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section id="tarifas">
            <div class="center espacio">
                <h2>Tarifas Mensuales</h2>
                <p>Hemos estado trabajando arduamente para reconfigurar Tumuñan Lodge para poder recibir a los huéspedes de manera higiénica y segura.</p>
                <p>Los alquileres mensuales son solo una forma de alquilar una de nuestras 3 cabañas con cocina totalmente equipadas.</p>
                <p class="centrar-parrafo">Contáctenos para más detalles y discutir una tarifa.</p>
            </div>
        </section>
        <a name="galeria-alojamientos"></a>
        <section class="parallax-completo">
            <article class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="titulo">Conoce Nuestros Alojamientos</h1>
                        <p class="justificar-parrafo-galeria">
                            Hemos estado trabajando arduamente para reconfigurar Tumuñan Lodge para poder recibir a los huéspedes de manera higiénica y segura. Los alquileres mensuales son solo una forma de alquilar una de nuestras 3 cabañas con cocina totalmente equipadas. Contáctenos
                            para más detalles y discutir una tarifa.
                        </p>
                    </div>
                </div>
                <div class="row galeria">
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_4291.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_4313.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_4319.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_4327.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_4354.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_4445.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_5562.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_5631.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_5634.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_5637.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/IMG_5639.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="material-placeholder">
                            <img src="resources/images/bed/FireplaceWixTitle.jpg" alt="" class="responsive-img materialboxed" data-caption="">
                        </div>
                    </div>
                </div>
            </article>
        </section>


        <section class="parallax-chico">
            <h2>Footer</h2>
        </section>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="resources/js/galeria.js"></script>
</body>

</html>