*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #ededed;
}
.nav-bar{
    height: 150px;
    background-color: #1a1a1a;
}
.container{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.title{
    font-size: 30px;
    padding: 25px 0px;
    margin-left: 50px;
}
body>.container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    max-width: 100%;
}
.data{
    flex: 1;
    margin: 20px;
    min-width: 250px;
    max-width: 900px;
    position: relative;
}
.table-row{
    height: 270px;
    width: 100%;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    overflow-y: scroll;
}
table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    position: absolute;
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
    height: 30px;
    background-color: #f2f2f2;
    top:-30px;
}
th, td{
    font-size: 16px;
    height: 30px;
    text-align: center;
}
.btn-less, .btn-more, .btn-dark{
    width: 33%;
    border: 0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.information{
    flex: 2;
    margin: 20px;
    max-width: 20%;
    min-width: 250px;
}
.total_price{
    display: flex;
}
.price_text{
    color: #3e4143;
}
#buy_btn{
    width: auto;
}

@media screen and (max-width: 800px) {
    body{
        width: 100%;
    }
    .nav-bar{
        height: 173px;
    }
    .title{
        padding: 5px 0;
        margin-left: 5px;
    }
    body>.container{
        padding: 5px;
    }
    .data{
        margin: 5px;
    }
    .table-row{
        height: 235px;
        border: 1px solid silver;
    }
    .items-table thead{
        display: none;
    }
    .items-table tr{
        border-bottom: 1px solid silver;
        background-color: #ffffff;
        margin-bottom: 4px;
        display: block;
    }
    .items-table tr:last-child{
        margin-bottom: 0;
    }
    .items-table td{
        padding-right: 10px;
        height: auto;
        display: block;
        text-align: right;
    }
    .items-table td:last-child{
        padding: 0;
    }
    .items-table td::before{
        content: attr(id);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}