body{
    width: 100vw;
    box-sizing: border-box;
}
.nav-bar{
    height: 150px;
    background-color: #1a1a1a;
}
.pay{
    padding: 35px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: black;
}
.container{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.cart{
    display: flex;
    height: 350px;
    padding-bottom: 36px;
}
.products{
    display: flex;
    width: 100%;
}
thead>tr{
    border-bottom: 1px solid silver;
}
.list{
    width: 100%;
    text-align: center;
}
#testBody>tr{
    border-bottom: 1px solid silver;
}
.cont{
    margin-left: 20px;
    width: 20rem;
}
.total_price{
    display: flex;
}
.price_text{
    color: #3e4143;
}
#buy_btn{
    width: 100%;
}




table{
    width: 100%; 
}
table, td{
    border: 1px solid silver;
}
thead{
    display: table;
    height: 30px; 
    width: calc(100% - 17px); 
}
tbody{
    display: block;
    max-height: 270px; 
    overflow-y: scroll;
}
tr{
    display: table;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid silver;
}
th, td{
    width: 28.4%; 
    padding: 5px;
    word-break: break-all;
}