<footer class="ftco-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo"><a href="#">Vinera <span>Tumuñan</span></a></h2>
                    <p style="text-align:center;">
                        Escondido en las estribaciones boscosas de los Andes, Tumuñan Lodge ofrece a los huéspedes de todo el mundo un retiro durante todo el año y la oportunidad única de explorar una parte de Chile muy linda.
                    </p>
                    <div class="row justify-content-center align-items-center">
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li class="ftco-animate"><a href="https://www.facebook.com/tumunan.lodge/?eid=ARAaO7RdSozUrDZCtS_T7WFJvZibbPs5GtgY-txgoelueNpQZXrbO6uUDkh4zaY-fL7UwXRoxuhrnXbD&timeline_context_item_type=intro_card_work&timeline_context_item_source=100001181570216&fref=tag"
                                    class="me-4 text-reset"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/vina_tumunan/"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Información</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Sobre Nosotros</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Catalogo de Vinos</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contactenos</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Términos y Condiciones</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Consultas</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="https://www.google.com/maps?q=Tumu%C3%B1an+Lodge+I-325,+Las+Pe%C3%B1as,+O%27Higgins,+Chile&ll=-34.75206403,-70.77965987"><span class="icon fa fa-map marker"></span><span class="text">I-325, Las Peñas, O'Higgins, Chile</span></a></li>
                            <li><a href="https://wa.me/56996301152"><span class="icon fa fa-phone"></span><span class="text">+56 9 9630 1152</span></a></li>
                            <li><a href="mailto:tumunanlodge@gmail.com"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">tumunanlodge@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(97, 90, 90, 0.05);">
        © 2022 Copyright
    </div>
    <!-- Copyright -->
</footer>