* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: sans-serif;
}

main {
    background-color: #f5e1ce;
    overflow: hidden;
}

input[type=radio] {
    display: none;
}

.col-md-4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.portada {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    height: inherit;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: black;
    font-size: 5em;
}

.portada::after,
.portada::before {
    content: '';
    width: 120px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20%;
}

h2 {
    text-align: center;
    color: #000;
    display: flex;
    height: inherit;
    justify-content: center;
    padding-top: 100px;
}

.justificar-inicio {
    font-size: 1.1em;
    text-align: justify;
    text-indent: 50px;
    padding: 20px 0 20px 0;
    font-weight: 600;
    font-style: oblique;
    color: rgb(51, 50, 50);
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.container2 {
    padding-top: 50px;
    padding-bottom: 50px;
} 

.titulo {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h4 {
    letter-spacing: 4px;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
    padding: 15px 0 15px 0;
}

.justificar-parrafo {
    font-size: 1.1em;
    text-align: justify;
    text-indent: 50px;
    padding: 15px 0 15px 0;
    font-weight: 800;
    font-style: oblique;
    color: rgb(51, 50, 50);
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.costos {
    font-size: 1em;
    text-align: justify;
    text-indent: 50px;
    font-weight: 600;
    color: rgb(32, 28, 28);
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.center {
    font-family: 'open sans';
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-style: oblique;
    background-color: #e4dcd7;
}

.espacio {
    padding: 15px 50px 15px 50px;
}

.carrusel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carrusel:hover {
    border: 1px solid red; /* Añadimos un borde de 1px de color rojo */
  }

/**************Slider1****************/
#slider {
    position: relative;
    width: 75%;
    height: 40vw;
    max-height: 600px;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

#slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    background-color: black
}


/* Slider Functionality */


/* Active Slide */

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}


/* Next Slide */

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}


/* Next to Next Slide */

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(30%, 0, -250px);
}


/* Previous to Previous Slide */

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-30%, 0, -250px);
}


/* Previous Slide */

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}


/*****************Slider2***************************/

#slider2 {
    position: relative;
    width: 75%;
    height: 40vw;
    max-height: 600px;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

#slider2 label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    background-color: black
}


/* Slider Functionality */


/* Active Slide */

#s6:checked~#slide6,
#s7:checked~#slide7,
#s8:checked~#slide8,
#s9:checked~#slide9,
#s10:checked~#slide10 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}


/* Next Slide */

#s6:checked~#slide7,
#s7:checked~#slide8,
#s8:checked~#slide9,
#s9:checked~#slide10,
#s10:checked~#slide6 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}


/* Next to Next Slide */

#s6:checked~#slide8,
#s7:checked~#slide9,
#s8:checked~#slide10,
#s9:checked~#slide6,
#s10:checked~#slide7 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(30%, 0, -250px);
}


/* Previous to Previous Slide */

#s6:checked~#slide9,
#s7:checked~#slide10,
#s8:checked~#slide6,
#s9:checked~#slide7,
#s10:checked~#slide8 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-30%, 0, -250px);
}


/* Previous Slide */

#s6:checked~#slide10,
#s7:checked~#slide6,
#s8:checked~#slide7,
#s9:checked~#slide8,
#s10:checked~#slide9 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}

/****************- Media Querys -****************************/
@media screen and (max-width: 768px){
    .portada{
        font-size: 3em;
    }
    h2{
        font-size: 1.5em;
    }
    .titulo{
        font-size: 1.8em;
    }
}